<a href="https://colab.research.google.com/github/littleadam/python/blob/main/dictionary.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# 1. Dictionary
plants = {"radish": 2, "squash": 4, "carrot": 7}

# Loop over dictionary directly.
# ... This only accesses keys.
for plant in plants:
    print(plant)
print(plants)

radish
squash
carrot
{'radish': 2, 'squash': 4, 'carrot': 7}

In [2]:
# Copy Dictionary
original = {"box": 1, "cat": 2, "apple": 5}

# Create copy of dictionary.
modified = original.copy()

# Change copy only.
modified["cat"] = 200
modified["apple"] = 9

# Original is still the same.
print(original)
print(modified)

{'box': 1, 'cat': 2, 'apple': 5}
{'box': 1, 'cat': 200, 'apple': 9}

In [3]:
#Python program that uses len on dictionary

animals = {"parrot": 2, "fish": 6}

# Use len built-in on animals.
print(animals)
print("Length:", len(animals))

{'parrot': 2, 'fish': 6}
Length: 2

In [4]:
# First dictionary.
pets1 = {"cat": "feline", "dog": "canine"}

# Second dictionary.
pets2 = {"dog": "animal", "parakeet": "bird"}

# Update first dictionary with second.
pets1.update(pets2)

# Display both dictionaries.
# The key "dog" exists in both dictionaries. Since update() overwrites duplicates, "dog" in pets1 changes from "canine" to "animal".
print(pets1)
print(pets2)

{'cat': 'feline', 'dog': 'animal', 'parakeet': 'bird'}
{'dog': 'animal', 'parakeet': 'bird'}

In [5]:
#delete
systems = {"mac": 1, "windows": 5, "linux": 1}

print(systems)

print(systems)

# Remove key-value at "windows" key.
del systems["windows"]

# Display dictionary.
print(systems)

{'mac': 1, 'windows': 5, 'linux': 1}
{'mac': 1, 'windows': 5, 'linux': 1}
{'mac': 1, 'linux': 1}

In [6]:
lookup = {"cat": "A domestic animal", "dog": "A grateful domestic animal"}

#The dictionary has no fish key!
print(lookup["cat"])
print(lookup["dog"])
print(lookup)

A domestic animal
A grateful domestic animal
{'cat': 'A domestic animal', 'dog': 'A grateful domestic animal'}

In [7]:
#hash table
plants = {}

# Add three key-value tuples to the dictionary.
plants["radish"] = [2,4,"good"]
plants["squash"] = [1,34,"bad"]
plants["carrot"] = [4,56,"yes"]

print(plants)

# Get syntax 1.
print(plants["radish"])

# Get syntax 2.
print(plants.get("tuna"))
print(plants.get("tuna", "no tuna found"))
print(plants.get('squash'))
sorted(plants)
print(plants)

{'radish': [2, 4, 'good'], 'squash': [1, 34, 'bad'], 'carrot': [4, 56, 'yes']}
[2, 4, 'good']
None
no tuna found
[1, 34, 'bad']
{'radish': [2, 4, 'good'], 'squash': [1, 34, 'bad'], 'carrot': [4, 56, 'yes']}

In [8]:
original = {"box": 1, "cat": 2, "apple": 5}

# Create copy of dictionary.
modified = original.copy()

# Change copy only.
modified["cat"] = 200
modified["apple"] = 9

# Original is still the same.
print(original)
print(modified)

{'box': 1, 'cat': 2, 'apple': 5}
{'box': 1, 'cat': 200, 'apple': 9}

In [9]:
mydic = { "4" : 24, "5" : 34 }
for key in mydic.items() :
    print (key)

('4', 24)
('5', 34)

In [10]:
dic = {"key 1":"value 1","key b":"value b"}

#print the keys:
for key in dic.keys():
    print(key)

#print the values:
for value in dic.values():
    print(value)

#print key and values
for key, value in dic.items():
    print(key, value)

key 1
key b
value 1
value b
key 1 value 1
key b value b

In [14]:
# highlighting how to use a named variable within a string:
dict = {'a': 1, 'b': 2}
# highlighting how to use a named variable within a string:
dict = {'a': 1, 'b': 2}

# simple method:
print("a %(a)s" % dict)
print("b %(b)s" % dict)

# yields:
# a 1
# b 1


# programmatic method:
for key in dict:
    val = '%('+key+')s'
    print(key, val % dict)

# yields:
# a 1
# b 1

# using list comprehension
print("\n".join(["%s: %s" % (key, ('%('+key+')s') % dict) for key in dict]))

# yields:
# a: 1
# b: 1

# yields:
# a 1
# b 1


# programmatic method:
# highlighting how to use a named variable within a string:
dict = {'a': 1, 'b': 2}
# highlighting how to use a named variable within a string:
dict = {'a': 1, 'b': 2}

# simple method:
print("a %(a)s" % dict)
print("b %(b)s" % dict)

# yields:
# a 1
# b 1


# programmatic method:
for key in dict:
    val = '%('+key+')s'
    print(key, val % dict)

# yields:
# a 1
# b 1

# using list comprehension
print("\n".join(["%s: %s" % (key, ('%('+key+')s') % dict) for key in dict]))

# yields:
# a: 1
# b: 1

# yields:
# a 1
# b 1


# programmatic method:
for key in dict:
    val = '%('+key+')s'
    print(key, val % dict)

# yields:
# a 1
# b 1

# using list comprehension
print("\n".join(["%s: %s" % (key, ('%('+key+')s') % dict) for key in dict]))

# yields:
# a: 1
# b: 1

# a 1
# b 1

# using list comprehension
print ("\n".join(["%s: %s" % (key, ('%('+key+')s') % dict) for key in dict]))

# yields:
# a: 1
# b: 1

a 1
b 2
a 1
b 2
a: 1
b: 2
a 1
b 2
a 1
b 2
a: 1
b: 2
a 1
b 2
a: 1
b: 2
a: 1
b: 2

In [15]:
# Same as previous program.
hits = {"home": 124, "sitemap": 26, "about": 32}

# Sort the keys from the dictionary.
keys = sorted(hits.keys())
print(keys)
values = sorted(hits.values())
print(values)

['about', 'home', 'sitemap']
[26, 32, 124]

In [16]:
L = ['apple','red','apple','red','red','pear']
from collections import defaultdict
d = defaultdict(int)
for i in L:
   d[i] += 1
print(d)

defaultdict(<class 'int'>, {'apple': 2, 'red': 3, 'pear': 1})

In [17]:
tel = {'jack': 4098, 'sape': 4139}
tel['guido'] = 4127
print(tel)
print(tel['jack'])

#!/usr/bin/python3

dict = {'Name': 'Zara', 'Age': 7, 'Class': 'First'}
print ("dict['Name']: ", dict['Name'])
print ("dict['Age']: ", dict['Age'])

print(dict['Name'])
print(dict['Age'])

dict = {'Name': 'Zara', 'Age': 7, 'Class': 'First'}
dict['Age'] = 8; # update existing entry
dict['School'] = "DPS School" # Add new entry

print ("dict['Age']: ", dict['Age'])
print ("dict['School']: ", dict['School'])

#!/usr/bin/python3

dict = {'Name': 'Zara', 'Age': 7, 'Class': 'First'}

del dict['Name'] # remove entry with key 'Name'
dict.clear()     # remove all entries in dict
del dict         # delete entire dictionary

#print("dict['Age']: ", dict['Age'])   # this will give error since
#print("dict['School']: ", dict['School'])  #dictionary is deleted

{'jack': 4098, 'sape': 4139, 'guido': 4127}
4098
dict['Name']:  Zara
dict['Age']:  7
Zara
7
dict['Age']:  8
dict['School']:  DPS School

In [18]:
animals = {}
animals["monkey"] = 1
animals["tuna"] = 2
animals["giraffe"] = 4
print(animals)
print()

# Use in.
if "tuna" in animals:
    print("Has tuna")
else:
    print("No tuna")

# Use in on nonexistent key.
if "elephant" in animals:
    print("Has elephant")
else:
    print("No elephant")

{'monkey': 1, 'tuna': 2, 'giraffe': 4}

Has tuna
No elephant

In [19]:
hits = {"home": 125, "sitemap": 27, "about": 43}

keys = hits.keys()
values = hits.values()

print("Keys:")
print(keys)
print(len(keys))

print("Values:")
print(values)
print(len(values))

Keys:
dict_keys(['home', 'sitemap', 'about'])
3
Values:
dict_values([125, 27, 43])
3

In [21]:
newdict = {"a": 1, "b": 2, "c": 3}
for key in newdict.keys():
  print(key)

a
b
c

In [22]:
a = {
'x' : 1,
'y' : 2,
'z' : 3
}

b = {
'w' : 10,
'x' : 11,
'y' : 2
}


print(a.keys() & b.keys()) # { 'x', 'y' }
print(a.keys() - b.keys()) # { 'z' }
print(a.items() & b.items()) # { ('y', 2) }

c = {key:a[key] for key in a.keys() - {'z', 'w'}}
print(c)

{'x', 'y'}
{'z'}
{('y', 2)}
{'x': 1, 'y': 2}

In [23]:
students = {}

# Add three key-value tuples to the dictionary.
students["Vaishnavi"] = [2,4]
students["Jothi"] = [1,34]
students["Karthik"] = [4,56]
students["Jayashree"] = [20.3,4.5]
students["Raju"] = [20,4]
students["Lakshman"] = [50.3,4.5]
students["Raman"] = [20.3,1.5]
students["John"] = [20.3,3.5]
students["Godspeed"] = [2.3,4]
students["Angelina"] = [20.3,45]
students["Kumar"] = [20.3,4.5]
students["Kirthika"] = [20.3,4.5]
students["Ranjith"] = [20.3,4.5]
students["Maravan"] = [20.3,4.5]
students["Sanjeev"] = [20.3,4.5]
students["Devasagayam"] = [20.3,4.5]

# Get syntax 1.
print(students["Vaishnavi"])

# Get syntax 2.
print(students.get("Raghu"))
print(students.get("Raghu", "Raghu not found"))
print(students.get('Vaishnavi'))
print(sorted(students))
print(students["Raju"][1])
#print(students)

[2, 4]
None
Raghu not found
[2, 4]
['Angelina', 'Devasagayam', 'Godspeed', 'Jayashree', 'John', 'Jothi', 'Karthik', 'Kirthika', 'Kumar', 'Lakshman', 'Maravan', 'Raju', 'Raman', 'Ranjith', 'Sanjeev', 'Vaishnavi']
4

In [24]:
rents = {"apartment": 1000, "house": 1300}

# Convert to list of tuples.
rentItems = rents.items()

# Loop and display tuple items.
for rentItem in rentItems:
    print("Place:", rentItem[0])
    print("Cost:", rentItem[1])
    print("")

print(rentItems)
print(rents)

Place: apartment
Cost: 1000

Place: house
Cost: 1300

dict_items([('apartment', 1000), ('house', 1300)])
{'apartment': 1000, 'house': 1300}

In [25]:
# Create a dictionary.
data = {"a": 1, "b": 2, "c": 3}

# Loop over items and unpack each item.
for k, v in data.items():
    # Display key and value.
    print(k, v)

a 1
b 2
c 3

In [26]:
from operator import itemgetter
from itertools import groupby

rows = [
{'address': '5412 N CLARK', 'date': '07/01/2012'},
{'address': '5148 N CLARK', 'date': '07/04/2012'},
{'address': '5800 E 58TH', 'date': '07/02/2012'},
{'address': '2122 N CLARK', 'date': '07/03/2012'},
{'address': '5645 N RAVENSWOOD', 'date': '07/02/2012'},
{'address': '1060 W ADDISON', 'date': '07/02/2012'},
{'address': '4801 N BROADWAY', 'date': '07/01/2012'},
{'address': '1039 W GRANVILLE', 'date': '07/04/2012'},
]

# Sort by the desired field first
rows.sort(key=itemgetter('date'))
# Iterate in groups
for date, items in groupby(rows, key=itemgetter('date')):
    print(date)
for i in items:
    print(' ', i)

07/01/2012
07/02/2012
07/03/2012
07/04/2012

In [27]:
from operator import itemgetter
rows = [
{'fname': 'Brian', 'lname': 'Jones', 'uid': 1003},
{'fname': 'David', 'lname': 'Beazley', 'uid': 1002},
{'fname': 'John', 'lname': 'Cleese', 'uid': 1001},
{'fname': 'Big', 'lname': 'Jones', 'uid': 1004}
]
rows_by_fname = sorted(rows, key=itemgetter('fname'))
rows_by_uid = sorted(rows, key=itemgetter('uid'))
print(rows_by_fname)
print(rows_by_uid)

rows_by_fname = sorted(rows, key=lambda r: r['fname'])
rows_by_lfname = sorted(rows, key=lambda r: (r['lname'],r['fname']))

print(rows_by_fname)
print(rows_by_lfname)

print(min(rows, key=itemgetter('uid')))
print(max(rows, key=itemgetter('uid')))

[{'fname': 'Big', 'lname': 'Jones', 'uid': 1004}, {'fname': 'Brian', 'lname': 'Jones', 'uid': 1003}, {'fname': 'David', 'lname': 'Beazley', 'uid': 1002}, {'fname': 'John', 'lname': 'Cleese', 'uid': 1001}]
[{'fname': 'John', 'lname': 'Cleese', 'uid': 1001}, {'fname': 'David', 'lname': 'Beazley', 'uid': 1002}, {'fname': 'Brian', 'lname': 'Jones', 'uid': 1003}, {'fname': 'Big', 'lname': 'Jones', 'uid': 1004}]
[{'fname': 'Big', 'lname': 'Jones', 'uid': 1004}, {'fname': 'Brian', 'lname': 'Jones', 'uid': 1003}, {'fname': 'David', 'lname': 'Beazley', 'uid': 1002}, {'fname': 'John', 'lname': 'Cleese', 'uid': 1001}]
[{'fname': 'David', 'lname': 'Beazley', 'uid': 1002}, {'fname': 'John', 'lname': 'Cleese', 'uid': 1001}, {'fname': 'Big', 'lname': 'Jones', 'uid': 1004}, {'fname': 'Brian', 'lname': 'Jones', 'uid': 1003}]
{'fname': 'John', 'lname': 'Cleese', 'uid': 1001}
{'fname': 'Big', 'lname': 'Jones', 'uid': 1004}

In [28]:
#Dictionary literals

# Method 1

#Perhaps the most commonly used way of constructing a python dictionary is with
#curly bracket syntax:

d1 = {"age":25}
print(d1)


# Method 2

#As dictionaries are mutable, you need not know all the entries in advance:
# Empty dict

d2 = {}
# Fill in the entries one by one
d2["name"] = "Jayashree"
print(d2)


# Method 3

#From a list of tuples

#You can also construct a dictionary from a list (or any iterable) of
#key, value pairs. For instance:


d3 = dict([("age", 25)])
print(d3)


# Method 4

#This is perhaps most useful in the context of a list comprehension:

class Person(object):
    def __init__(self, name, profession):
        self.name = name
        self.profession = profession

people = [Person("Nick", "Programmer"), Person("Alice","Engineer")]
professions = dict([ (p.name, p.profession) for p in people ])
print(professions)
#{"Nick": "Programmer", "Alice": "Engineer"}


# Method 5

#From two parallel lists

#This method of constructing a dictionary is intimately related to the prior example.
#Say you have two lists of elements, perhaps pulled from a database table:

# Static lists for purpose of illustration
names = ["Nick", "Alice", "Kitty"]
professions = ["Programmer", "Engineer", "Art Therapist"]

#If you wished to create a dictionary from name to profession, you
#could do the following:

professions_dict = {}
for i in range(len(names)):
    professions_dict[names[i]] = professions[i]
print(professions_dict)

#This is not ideal, however, as it involves an explicit iterator, and is
#starting to look like Java. The more Pythonic way to handle this case would
#be to use the zip method, which combines two iterables:


print(zip(range(5), ["a","b","c","d","e"]))

names_and_professions = zip(names, professions)
print(names_and_professions)

for name, profession in names_and_professions:
    professions_dict[name] = profession

#As you can see, this is extremely similar to the previous section. You can
#dispense the iteration, and instead use the dict method:

professions_dict = dict(names_and_professions)
# You can dispence the extra variable and create an anonymous
# zipped list:
professions_dict = dict(zip(names, professions))
print(professions_dict)

{'age': 25}
{'name': 'Jayashree'}
{'age': 25}
{'Nick': 'Programmer', 'Alice': 'Engineer'}
{'Nick': 'Programmer', 'Alice': 'Engineer', 'Kitty': 'Art Therapist'}
<zip object at 0x7900dbbd1480>
<zip object at 0x7900dbbd1480>
{'Nick': 'Programmer', 'Alice': 'Engineer', 'Kitty': 'Art Therapist'}

In [29]:
newdict = {1:2.9, "Karthik G":35, 45:23, 23.34:"Ram"}
print(newdict)  #immutable

for items in newdict:
    print(items)

it = iter(newdict)
print(next(it))
print(next(it))
print(next(it))

print(newdict[1])
#newdict.append(45:"Ravi")
print(newdict)

anotherdict = {"Manooj":34, 45.66: "MeghaDharshini", 45:(34,"Jayashree")}
print(anotherdict)
#anotherdict.append({34:10})
print(anotherdict)

seconddict = {4:[45,56,78], 56:[23,43,10], "Ravikiran":[31,23,45], 23:{24:1}}
print(seconddict)
print(seconddict[56])

thirddict = {23:[{34:45},[34,'l']]}
print(thirddict)

{1: 2.9, 'Karthik G': 35, 45: 23, 23.34: 'Ram'}
1
Karthik G
45
23.34
1
Karthik G
45
2.9
{1: 2.9, 'Karthik G': 35, 45: 23, 23.34: 'Ram'}
{'Manooj': 34, 45.66: 'MeghaDharshini', 45: (34, 'Jayashree')}
{'Manooj': 34, 45.66: 'MeghaDharshini', 45: (34, 'Jayashree')}
{4: [45, 56, 78], 56: [23, 43, 10], 'Ravikiran': [31, 23, 45], 23: {24: 1}}
[23, 43, 10]
{23: [{34: 45}, [34, 'l']]}

In [30]:
mydict = {'Lemonade': ["1", "45", "87"], 'Coke': ["23", "9", "23"], 'Water': ["98", "127"]}
for imp in mydict:
  print(imp)
  print(mydict[imp])

for key,val in mydict.items():
  print(key)
  print(val)

x = mydict.keys()
y = mydict.values()

print(x)
print(y)

print(mydict.keys())
print(mydict.values())

x = (23,34)
y = ((23,56),(34,"Jayashree"))
print(y)

karthik = { y:"BadriNarayanan" }
print(karthik)
print(karthik[((23, 56), (34, 'Jayashree'))])
print(karthik[y])

guru = { (3,4):"BadriNarayanan"}
print(guru)

dictone = { x:100, x[1]:105 }
print(dictone.keys())
print(dictone.values())
print(dictone)
dicttwo = {y:100} # this will product "TypeError: unhashable type: 'list'"
# this error comes because the key should be immutable. This means a list
#cannot be used as the key. Comment the above line to remove this error (line number 28)
dicttwo = {y[1]:100}
print(dicttwo)


myset =  { 34, "guru", "karthik" }
print(myset)

Lemonade
['1', '45', '87']
Coke
['23', '9', '23']
Water
['98', '127']
Lemonade
['1', '45', '87']
Coke
['23', '9', '23']
Water
['98', '127']
dict_keys(['Lemonade', 'Coke', 'Water'])
dict_values([['1', '45', '87'], ['23', '9', '23'], ['98', '127']])
dict_keys(['Lemonade', 'Coke', 'Water'])
dict_values([['1', '45', '87'], ['23', '9', '23'], ['98', '127']])
((23, 56), (34, 'Jayashree'))
{((23, 56), (34, 'Jayashree')): 'BadriNarayanan'}
BadriNarayanan
BadriNarayanan
{(3, 4): 'BadriNarayanan'}
dict_keys([(23, 34), 34])
dict_values([100, 105])
{(23, 34): 100, 34: 105}
{(34, 'Jayashree'): 100}
{34, 'karthik', 'guru'}

In [31]:
one = {i: i**2 for i in range(5)}
print(one)


d = {}
for i in range(5):
    d[i] = i**2
print(d)


def gen():
    for i in range(5):
        yield i

print(gen)
p = gen()
p = gen()
print(p)
print(gen)


gen = (i for i in range(5))
p = next(gen)
print(p)
q = next(gen)
print(q)
one = list(gen)
print(one)
#q = next(gen)
#print(q)
#Traceback (most recent call last):
#  File "<input>", line 1, in <module>
#StopIteration


prices = {
'ACME': 45.23,
'AAPL': 612.78,
'IBM': 205.55,
'HPQ': 37.20,
'FB': 10.75
}
# Make a dictionary of all prices over 200
p1 = { key:value for key, value in prices.items() if value > 200 }
# Make a dictionary of tech stocks
tech_names = { 'AAPL', 'IBM', 'HPQ', 'MSFT' }
p2 = { key:value for key,value in prices.items() if key in tech_names }
print(p1)
print(p2)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}
{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}
<function gen at 0x7900e9091900>
<generator object gen at 0x7900d82018c0>
<function gen at 0x7900e9091900>
0
1
[2, 3, 4]
{'AAPL': 612.78, 'IBM': 205.55}
{'AAPL': 612.78, 'IBM': 205.55, 'HPQ': 37.2}

In [32]:
from heapq import nlargest
my_dict = {'a':500, 'b':5874, 'c': 560,'d':400, 'e':5874, 'f': 20}
three_largest = nlargest(3, my_dict, key=my_dict.get)
print(three_largest)

['b', 'e', 'c']

In [33]:
mydict = {'Lemonade': ["1", "45", "87"], 'Coke': ["23", "9", "23"], 'Water': ["98", "127"]}
for imp in mydict:
  print(imp)
  print(mydict[imp])

for key,val in mydict.items():
  print(key)
  print(val)

x = mydict.keys()
y = mydict.values()

print(x)
print(y)

print(mydict.keys())
print(mydict.values())

x = (23,34)

dictone = { x:100, x[1]:105 }
print(dictone)

Lemonade
['1', '45', '87']
Coke
['23', '9', '23']
Water
['98', '127']
Lemonade
['1', '45', '87']
Coke
['23', '9', '23']
Water
['98', '127']
dict_keys(['Lemonade', 'Coke', 'Water'])
dict_values([['1', '45', '87'], ['23', '9', '23'], ['98', '127']])
dict_keys(['Lemonade', 'Coke', 'Water'])
dict_values([['1', '45', '87'], ['23', '9', '23'], ['98', '127']])
{(23, 34): 100, 34: 105}

In [34]:
from collections import Counter
words = [
'look', 'into', 'my', 'eyes', 'look', 'into', 'my', 'eyes',
'the', 'eyes', 'the', 'eyes', 'the', 'eyes', 'not', 'around', 'the',
'eyes', "don't", 'look', 'around', 'the', 'eyes', 'look', 'into',
'my', 'eyes', "you're", 'under'
]
word_counts = Counter(words)
print(word_counts)
top_three = word_counts.most_common(3)
print(top_three)

morewords = ['why','are','you','not','looking','in','my','eyes']
for word in morewords:
    word_counts[word] += 1
print(word_counts)

Counter({'eyes': 8, 'the': 5, 'look': 4, 'into': 3, 'my': 3, 'around': 2, 'not': 1, "don't": 1, "you're": 1, 'under': 1})
[('eyes', 8), ('the', 5), ('look', 4)]
Counter({'eyes': 9, 'the': 5, 'look': 4, 'my': 4, 'into': 3, 'not': 2, 'around': 2, "don't": 1, "you're": 1, 'under': 1, 'why': 1, 'are': 1, 'you': 1, 'looking': 1, 'in': 1})